language: node_js
node_js:
  - 10
  - 12
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
after_script:
  - ls -l tmp/reports/coverage
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT -t lcov tmp/reports/coverage/lcov.info
